:root {
    --size: 15vh;
    --halfsize: calc(var(--size) /2);
    --opacity: .25;
}

html,
body {
    background-color: beige;
}

#cube {
    margin: calc((100vh - var(--size))/2) auto;
    height: var(--size);
    width: var(--size);
    animation: 360s rotateforever infinite linear;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    height: var(--size);
    width: var(--size);
    border: brown 1px solid;
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.one {
    transform: rotateX(-54.7356deg) rotateY(45deg) translateZ(var(--halfsize));
    background-color: rgba(153, 68, 0, var(--opacity));
}

.two {
    transform: rotateX(-54.7356deg) rotateY(135deg) translateZ(var(--halfsize));
    background-color: rgba(204, 142, 0, var(--opacity));
}

.three {
    transform: rotateX(-54.7356deg) rotateY(225deg) translateZ(var(--halfsize));
    background-color: rgba(255, 50, 0, var(--opacity));
}

.four {
    transform: rotateX(-54.7356deg) rotateY(315deg) translateZ(var(--halfsize));
    background-color: rgba(204, 0, 1, var(--opacity));
}

.five {
    transform: rotateX(35.2644deg) rotateZ(-45deg) translateZ(var(--halfsize));
    background-color: rgba(153, 0, 46, var(--opacity));
}

.six {
    transform: rotateX(35.2644deg) rotateY(180deg) rotateZ(-45deg) translateZ(var(--halfsize));
    background-color: rgba(102, 0, 57, var(--opacity));
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover {
    --opacity: .5;
    cursor: pointer;
}

@keyframes rotateforever {
    to {
        transform: rotate3d(0, 1, 0, 36000deg);
    }
}